@model FirstProgramUI.Models.OfferModel.OfferGetModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/Layout.cshtml";

}

<h1>Ekle</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" />

            <div class="form-group">
                <label asp-for="Name">Teklif Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferAmount">Teklif Adedi</label>
                <input asp-for="OfferAmount" class="form-control" />
                <span asp-validation-for="OfferAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Ürün Adı</label>
                <select class="form-control" name="ProductID">
                    <option value="">Seçiniz</option>
                    @foreach (var item in Model.Product)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Tedarikçi Adı</label>
                <select class="form-control" name="SupplierID">
                    <option value="">Seçiniz</option>
                    @foreach (var item in Model.Supplier)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input hidden="hidden" value="34f0086e-304e-4eb4-99a1-1c54343a9d7c" asp-for="StatusID" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Listeye geri dön</a>
            </div>
        </form>
    </div>
</div>