@model FirstProgramUI.Models.RequestModel.RequestGetModel
@{
    ViewData["Title"] = "Delete";
    //Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Sil</h1>
<h6 class="text-danger">
    Bu talebi silmek istediğinizden emin misiniz?
</h6>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" />

            <div class="form-group">
                <label asp-for="Description">Açıklama</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesiredQuantity">Miktar</label>
                <input asp-for="DesiredQuantity" class="form-control" />
                <span asp-validation-for="DesiredQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName">Kategori Adı</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusName">Durumu</label>
                <input asp-for="StatusName" class="form-control" />
                <span asp-validation-for="StatusName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sil" class="btn btn-danger" />
                <a class="btn btn-info" asp-action="Index">Listeye geri dön</a>
            </div>
        </form>
    </div>
</div>