
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>AnaSayfa</h1>
<h6>Hoş Geldiniz</h6>
<a href="/auths/login" type="submit" class="btn btn-primary mt-2"><a class="svg-icon"<span style="color: white;"</span>Log Out</a>

